In [12]:
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn-white')
import numpy as np

In [9]:
df = pd.read_csv('train.csv')
df

              date  store  item  sales
0       2013-01-01      1     1     13
1       2013-01-02      1     1     11
2       2013-01-03      1     1     14
3       2013-01-04      1     1     13
4       2013-01-05      1     1     10
...            ...    ...   ...    ...
912995  2017-12-27     10    50     63
912996  2017-12-28     10    50     59
912997  2017-12-29     10    50     74
912998  2017-12-30     10    50     62
912999  2017-12-31     10    50     82

[913000 rows x 4 columns]

In [11]:
df.describe()

               store           item          sales
count  913000.000000  913000.000000  913000.000000
mean        5.500000      25.500000      52.250287
std         2.872283      14.430878      28.801144
min         1.000000       1.000000       0.000000
25%         3.000000      13.000000      30.000000
50%         5.500000      25.500000      47.000000
75%         8.000000      38.000000      70.000000
max        10.000000      50.000000     231.000000

In [53]:
all_stores = df['store'].unique()
all_stores

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64)

0          1
1          1
2          1
3          1
4          1
          ..
912995    10
912996    10
912997    10
912998    10
912999    10
Name: store, Length: 913000, dtype: int64

Show sales wrt the stores

Show sales wrt the different items

Show sales wrt the different months