In [12]:
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn-white')
import numpy as np

In [9]:
df = pd.read_csv('train.csv')
df

              date  store  item  sales
0       2013-01-01      1     1     13
1       2013-01-02      1     1     11
2       2013-01-03      1     1     14
3       2013-01-04      1     1     13
4       2013-01-05      1     1     10
...            ...    ...   ...    ...
912995  2017-12-27     10    50     63
912996  2017-12-28     10    50     59
912997  2017-12-29     10    50     74
912998  2017-12-30     10    50     62
912999  2017-12-31     10    50     82

[913000 rows x 4 columns]

In [11]:
df.describe()

               store           item          sales
count  913000.000000  913000.000000  913000.000000
mean        5.500000      25.500000      52.250287
std         2.872283      14.430878      28.801144
min         1.000000       1.000000       0.000000
25%         3.000000      13.000000      30.000000
50%         5.500000      25.500000      47.000000
75%         8.000000      38.000000      70.000000
max        10.000000      50.000000     231.000000

In [53]:
all_stores = df['store'].unique()
all_stores

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64)

In [70]:
temp=[]
for i in all_stores:
    temp.append(df.loc[df['store'] == i])

In [71]:
temp

[              date  store  item  sales
 0       2013-01-01      1     1     13
 1       2013-01-02      1     1     11
 2       2013-01-03      1     1     14
 3       2013-01-04      1     1     13
 4       2013-01-05      1     1     10
 ...            ...    ...   ...    ...
 896561  2017-12-27      1    50     38
 896562  2017-12-28      1    50     52
 896563  2017-12-29      1    50     59
 896564  2017-12-30      1    50     66
 896565  2017-12-31      1    50     45

 [91300 rows x 4 columns],
               date  store  item  sales
 1826    2013-01-01      2     1     12
 1827    2013-01-02      2     1     16
 1828    2013-01-03      2     1     16
 1829    2013-01-04      2     1     20
 1830    2013-01-05      2     1     16
 ...            ...    ...   ...    ...
 898387  2017-12-27      2    50     79
 898388  2017-12-28      2    50     68
 898389  2017-12-29      2    50     67
 898390  2017-12-30      2    50     79
 898391  2017-12-31      2    50     73

 [91300 rows x 4 columns],
               date  store  item  sales
 3652    2013-01-01      3     1     19
 3653    2013-01-02      3     1      8
 3654    2013-01-03      3     1     10
 3655    2013-01-04      3     1     15
 3656    2013-01-05      3     1     22
 ...            ...    ...   ...    ...
 900213  2017-12-27      3    50     52
 900214  2017-12-28      3    50     75
 900215  2017-12-29      3    50     68
 900216  2017-12-30      3    50     62
 900217  2017-12-31      3    50     77

 [91300 rows x 4 columns],
               date  store  item  sales
 5478    2013-01-01      4     1     10
 5479    2013-01-02      4     1     12
 5480    2013-01-03      4     1      8
 5481    2013-01-04      4     1     15
 5482    2013-01-05      4     1     19
 ...            ...    ...   ...    ...
 902039  2017-12-27      4    50     48
 902040  2017-12-28      4    50     58
 902041  2017-12-29      4    50     56
 902042  2017-12-30      4    50     66
 902043  2017-12-31      4    50     81

 [91300 rows x 4 columns],
               date  store  item  sales
 7304    2013-01-01      5     1     11
 7305    2013-01-02      5     1      9
 7306    2013-01-03      5     1     12
 7307    2013-01-04      5     1      8
 7308    2013-01-05      5     1     13
 ...            ...    ...   ...    ...
 903865  2017-12-27      5    50     35
 903866  2017-12-28      5    50     39
 903867  2017-12-29      5    50     37
 903868  2017-12-30      5    50     60
 903869  2017-12-31      5    50     36

 [91300 rows x 4 columns],
               date  store  item  sales
 9130    2013-01-01      6     1     20
 9131    2013-01-02      6     1      6
 9132    2013-01-03      6     1     11
 9133    2013-01-04      6     1      7
 9134    2013-01-05      6     1     12
 ...            ...    ...   ...    ...
 905691  2017-12-27      6    50     47
 905692  2017-12-28      6    50     49
 905693  2017-12-29      6    50     43
 905694  2017-12-30      6    50     41
 905695  2017-12-31      6    50     45

 [91300 rows x 4 columns],
               date  store  item  sales
 10956   2013-01-01      7     1      7
 10957   2013-01-02      7     1      4
 10958   2013-01-03      7     1      8
 10959   2013-01-04      7     1      7
 10960   2013-01-05      7     1      8
 ...            ...    ...   ...    ...
 907517  2017-12-27      7    50     33
 907518  2017-12-28      7    50     41
 907519  2017-12-29      7    50     44
 907520  2017-12-30      7    50     44
 907521  2017-12-31      7    50     46

 [91300 rows x 4 columns],
               date  store  item  sales
 12782   2013-01-01      8     1     16
 12783   2013-01-02      8     1     10
 12784   2013-01-03      8     1     12
 12785   2013-01-04      8     1     21
 12786   2013-01-05      8     1     15
 ...            ...    ...   ...    ...
 909343  2017-12-27      8    50     64
 909344  2017-12-28      8    50     73
 909345  2017-12-29      8    50     80
 909346  2017-12-30      8    50     70
 909347  2017-12-31      8    50     76

 [91300 rows x 4 columns],
               date  store  item  sales
 14608   2013-01-01      9     1     11
 14609   2013-01-02      9     1      9
 14610   2013-01-03      9     1     20
 14611   2013-01-04      9     1     22
 14612   2013-01-05      9     1     22
 ...            ...    ...   ...    ...
 911169  2017-12-27      9    50     52
 911170  2017-12-28      9    50     73
 911171  2017-12-29      9    50     68
 911172  2017-12-30      9    50     62
 911173  2017-12-31      9    50     65

 [91300 rows x 4 columns],
               date  store  item  sales
 16434   2013-01-01     10     1     14
 16435   2013-01-02     10     1     14
 16436   2013-01-03     10     1     16
 16437   2013-01-04     10     1     17
 16438   2013-01-05     10     1     12
 ...            ...    ...   ...    ...
 912995  2017-12-27     10    50     63
 912996  2017-12-28     10    50     59
 912997  2017-12-29     10    50     74
 912998  2017-12-30     10    50     62
 912999  2017-12-31     10    50     82

 [91300 rows x 4 columns]]

Show sales wrt the stores

Show sales wrt the different items

Show sales wrt the different months